.bg-image{
    width: 100%;
    height: auto;
    background-size: cover;
    padding: 0px 125px;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.64)),url(../../../Images/fort.jpg);
    
   }
   .colm{
    width: 180px;   }

   .bg-img{
    width: 100%;
    height: auto;
    background-size: cover;
    padding: 10px 125px;
    background-position: center;
    background-image: linear-gradient(rgba(126, 119, 190, 0.5),rgba(140, 78, 222, 0.5)),url(../../../Images/fly.jpg);
    
   }
   .para{
    margin-left: 520px;
    margin-top: 60px;

   }

   @media only screen and (max-width: 576px) 
   {
       .bg-image {
        /* padding: 0px 155px; */
        height:auto;

        }
        .bg-img {
            height:auto;
    
            }
            .new-search{
                margin-top: 2px;
            }
       .para{
           margin-left: 2px;
           padding-bottom: 20px;
   
       }
       .para p
       {
        
        font-size: 12px;
       }

   
   }
   @media only screen and (max-width: 768px) 
{
    .colm p{
     font-size: 12px;   
     }
     .bg-image {
        height:auto;

        }
    .bg-img
    {
    
        height:auto;
        padding-bottom: 10px;

    }
    .para{
        margin-left: 10px;

    }

}

@media only screen and (max-width: 992px) 
{
    
    .para{
        margin-left: 10px;

    }
    .bg-img
    {
    height: auto;
    padding-bottom: 10px;

    }
    .colm{
        width: 140px;   }

}

@media only screen and (max-width: 1200px) 
{
    
    .para{
        margin-left: 10px;

    }
    .colm{
        width: 140px;   }
    .bg-img
    {
    height: auto;
    padding-bottom: 10px;

    }
}
@media only screen and (max-width: 1400px) 
{
    
    .para{
        margin-left: 1px;

    }
    .colm{
        width: 160px;   }
    .bg-img
    {
    height: auto;
    padding-bottom: 10px;

    }
    .news-search 
    {
        width: 300px;
    }
}